@page "/contact"

<SecondRibbon IsShown="false" />

<h3 class="my-5">
  Contact us
</h3>

<div class="row gx-5">
  <img src="/images/contact/contact.jpg" class="img-fluid col-5" />
  <div class="col-7">
    <h1>We'd Love to Hear from You</h1>
    <h5>Please contact us by sending an email using the button below</h5>
    <a href=@Address class="btn btn-secondary">@Content</a>
  </div>
</div>